.item-list-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
.item-list-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  /*
.item-list-container h3 {
    margin-left: 10px;
  }
  */